@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.934);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* Estilos del header */
.header {
    background-color: rgba(255, 255, 255, 0.934);
    color: #0b0c53;
    border-bottom: #89888870 solid 0.55px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.span-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(226, 155, 23);
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.home-link {
    margin-right: 20px;
    color: #0b0c53;
    text-decoration: none;
    font-size: 1.5rem;

}


.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
}

.dropdown-content.open-menu {
    max-height: 400px;
}

.sub-dropdown-content {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h5 {
    color: rgb(34, 32, 32);
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-dropdown-content hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-dropdown-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-dropdown-link p {
    width: 100%;
}

.sub-dropdown-link i {
    width: 40px;
    color: #525252;
    padding: 8px;
    margin-right: 15px;
}

.sub-dropdown-link p:hover {
    font-weight: 700;
}
/* Estilos del header */


/* Estilos main */
.main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    backdrop-filter: blur;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 80px;
    width: 68%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 10px;
}

.contenedor a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-header-2 {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.card-header-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}
.card-body{
    background-color: rgba(215, 215, 215, 0.728);
}




/* estilos carga de planimetrias */

.container {
    width: 80%;
    max-width: 1000px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.372);
    padding: 20px;
    border-radius: 10px;
    margin: 10% auto;
}

h2 {
    text-align: center;
    font-weight: 600;
}

.sub_title {
    font-size: 20px;
    color: #999999;
}

.image-gallery {
    border: 5px dashed #5779f5;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.image-gallery i {
    font-size: 60px;
}

.image-gallery .sub_title_2 {
    font-size: 20px;
    font-weight: 600;
    color: #494949;
}

.btn {
    padding: 30px 40px;
    background: none;
    border: none;
    border: 5px solid #7adffd;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #7adffd;
}

.image-gallery.dragover {
    background-color: #e0e0e0;
}

#file-input {
    display: none;
}

#file-select {
    cursor: pointer;
}



.gallery img {
    width: 100px; 
    height: auto;
    margin: 10px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-container {
    position: relative;
    padding: 10px;
    background: #fff;
    overflow: hidden; 
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 150px;
    height: 100px; 
    overflow: hidden; 
}



.img-container img {
    display: block;
    width: 90%;

}


.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: rgb(48, 153, 252);
    font-size: 20px;
    z-index: 10;
}


/* Estilos del panel de imagnes */

.gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.none {
    display: none;
}
.large-image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
    max-height: 900px; 
    flex: 1;
    border-radius: 10px 0 10px 0 10px;
    overflow-y: auto; 
    height: 840px;
}

.large-image::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    border-radius: 15px;
}

.large-image::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 30px;
}

.thumbnails-container {
    width: 20%;
    max-height: 900px;
    height: 900px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(117, 117, 117, 0.29);
    
}

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    justify-content:space-between;
}

.header-seidebar{
    width: 100%;
}
.header-seidebar .header-title{
    padding: 20px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.29);
}

.header-alert{
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #5779f552;
}
#send-button,#download-pdf-button {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    font-weight: 600;
    background-color: rgb(110, 135, 255);
    border-radius: 5px;
    color: whitesmoke;
    margin: 20px;
    width: 90%;
}

.floating-btn-container {
    position: absolute;
    top: 90px;
    right: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.floating-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
}
.floating-btn i{
    font-size: 20px;
}

.floating-btn:hover {
    background-color: #0056b3;
}

.img-container.large {
    width: 200px; 
    height: 250px;
    display: flex;
}

.img-container.medium {
    width: 150px; 
    height: 200px;
    display: flex;
    justify-content: center;
    
}

@media (min-width: 768px) and (max-width: 1550px) {

    .large-image {
        max-height: 600px; 
    }
    
    
    .thumbnails-container {
        height: 660px;
    }


    .floating-btn-container {
        top: 9 0px;
        right: 320px;
    }
}

@media (min-width: 768px) and (max-width: 1550px) {
    .card {
        width: 360px;

    }
    .card-header-2 {
        object-fit: cover;
        height: 200px;
    }
}

/* Estilos de respuesta */

.gallery_response {
    display: flex;
    justify-content: space-between;
}
.none {
    display: none;
}
.gallery_response_image {
    flex: 1;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery_response_image, .thumbnails_response::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    border-radius: 15px;
}

.gallery_response_image, .thumbnails_response::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 30px;
}

.thumbnails-container_response {
    width: 18%;
    max-height: 900px;
    height: 900px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    border-left: 1px solid rgba(117, 117, 117, 0.29);
    
}
.thumbnails_response{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;

}


.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.thumbnail:hover {
    background-color: rgb(160, 160, 160);
}
.thumbnail-item {
    display: inline-block;
}

#main-image_response {
    width: 60%;
    padding: 20px;
    object-fit: contain;
    background-color: #fafafa9d;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 10px;
    
}



#send-button {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    font-weight: 600;
    background-color: rgb(110, 135, 255);
    border-radius: 5px;
    color: whitesmoke;
    margin: 20px;
    width: 90%;
}
#send-button:hover{
    background-color: rgb(133, 149, 255);
}

@media (min-width: 768px) and (max-width: 1550px) {

    .thumbnails-container_response {
        height: 670px;

 }   

 .gallery_response_image {
    height: 660px;

}
}