@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(1, 55, 112, 0.838), rgba(2, 62, 127, 0.904)), url('../image/imagen\ \(21\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos del header */
/* Estilos del header */
.header {
    background-color: rgba(255, 255, 255, 0);
    color: #0b0c53;
    padding: 10px 3%;

    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.span-logo {
    color: rgb(226, 155, 23);
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.Sign-Up{
    border: 2px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

/* estilos header */

/* Estilos del formulario */
.container {
    padding: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 53%;
    transform: translate(-50%, -50%);
}
.container_logo {
    margin: 30px;
    width: 300px;
    padding: 30px;
    text-align: center;
}
.container_logo .logo {
    font-size: 40px;
}
.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 350px;
    padding: 30px;
    border-right: 1px solid rgb(242, 242, 242);
}
.container_form_title {
    font-size: 20px;
    color: aliceblue;
    text-align: end;
}
.container input[type="email"],
.container input[type="password"],
.container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
input::placeholder {
    color: white;
}
.container_form_btn {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.get-into {
    padding: 10px 20px;
    background: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid;
}
.get-into:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.container a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}

/* Estilo para mensajes de error */
.error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}
