body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-100%);
    animation: slideDown 1s ease forwards;
    width: 100%;
    
}
/* Estilos del header */
.header {
    background-color: rgb(11, 52, 83);
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.span-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(226, 155, 23);
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.home-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;

}

.home-link:hover {
    text-decoration: underline;
}

.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 999;
}

.dropdown-content.open-menu {
    max-height: 400px;
}

.sub-dropdown-content {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    color: rgb(34, 32, 32);
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-dropdown-content hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-dropdown-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-dropdown-link p {
    width: 100%;
}

.sub-dropdown-link i {
    width: 40px;
    color: #525252;
    padding: 8px;
    margin-right: 15px;
}

.sub-dropdown-link p:hover {
    font-weight: 700;
}
/* Estilos del header */


/* Estilos Sidebar */
.sidebar {
    background-color: #333;
    width: 270px;
    padding: 20px;
}

.sidebar-link{
    margin: 20px;
}
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .submenu {
    margin-left: 5px;
    list-style-type: none;
}



.sidebar-menu li {
    margin-bottom: 10px;
    position: relative;
    list-style: none;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
}

.fa-folder {
    color: #fff;
    margin-right: 5px;
}




.submenu-indicator {
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.submenu {
    display: none;
    padding-left: 20px;
    margin: 10px 0 20px 30px;
    color: white;
}

.submenu li:hover{
    color: #f0f0f0;
    font-weight: 800;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #eee;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
}





/* Estilos Sidebar */

/* Estilos main */
.main {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden; /* Para asegurar que cualquier contenido que sobresalga se gestione correctamente */
}

.main-title {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-title h2 {
    font-size: 1.5rem;
    color: #333;
}

.reporte {
    border-radius: 8px;
    overflow: hidden;
    margin: 0 20px;
    padding: 20px;
}

.table-container{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.reporte table {
    width: 100%;
    border-collapse: collapse;
    
}
.reporte button {
    background-color: #f0f0f0;
    
}

.reporte th, .reporte td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.reporte th {
    background-color: rgb(226, 155, 23); 
    color: #fff;
}

.reporte tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reporte tr:hover {
    background-color: #f5f5f5;
}


/* Estilos main */

/* Animaciones */

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.title-animation {
    animation: fadeIn 2s ease;
}

.sidebar-menu li {
    transition: background-color 0.3s ease-in-out;
}

.sidebar-menu li:hover {
  font-weight:700;

}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.title-palpitar {
    animation: heartbeat 1s infinite;
}

/* Animaciones */


.main{
    background-color: rgb(215, 215, 215);
    flex: 1;
    border-radius: 15px;
    margin: 5px;
}

.container {
    display: flex;
    flex: 1;
    
}

.sidebar{
    background-color: rgb(255, 166, 0);
    min-width: 320px;
    border-radius: 15px;
    margin: 5px;
}

.dataTables_length{
    display: none;
}

