<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartLink Analytics{% endblock %}</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">

</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">SmartLink <span class="span-logo">Analytics</span></div>
            <div class="profile">
                <a href="/menu" class="home-link"><i class="fa-solid fa-house"></i></a>
                <div class="profile-circle" role="button" tabindex="0" onclick="toggleMenu()" onKeyUp="handleKeyUp(event)" aria-label="Toggle Menu">
                    <img src="{{ url_for('static', filename='image/descarga.png') }}" alt="">
                </div>                                
                <div class="dropdown-content" id="subDropdown">
                    <div class="sub-dropdown-content">
                        <div class="user-info">
                            <img src="{{ url_for('static', filename='image/descarga.png') }}" alt="" class="img">
                            {% if first_name and last_name %}
                            <h5>{{ first_name }} {{ last_name }}</h5>
                            {% endif %}
                        </div>
                        <hr>
                        <a href="/perfil" class="sub-dropdown-link">
                            <i class="fa-solid fa-user"></i>
                            <p>Perfil</p>
                        </a>
                        <a href="/logout" class="sub-dropdown-link">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Cerrar Sesion</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block content %}



    {% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.15/jspdf.plugin.autotable.min.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>