<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <title>SmartLink Analytics</title>
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">SmartLink <span class="span-logo">Analytics</span></div>
            <div class="profile">
                <div class="profile-circle" onclick="toggleMenu()"><img src="{{ url_for('static', filename='image/descarga.png') }}" alt=""></div>
                <div class="dropdown-content" id="subDropdown">
                    <div class="sub-dropdown-content">
                        <div class="user-info">
                            <img src="{{ url_for('static', filename='image/descarga.png')}}" alt="" class="img">
                            {% if nombre and apellido %}
                            <h3>{{ nombre }} {{ apellido }}</h3>
                            {% endif %}


                        </div>
                        <hr>
                        <a href="/perfil" class="sub-dropdown-link">
                            <i class="fa-solid fa-user"></i>
                            <p>Perfil</p>
                        </a>
                        <a href="/logout" class="sub-dropdown-link">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Cerrar Sesion</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li class="sidebar-link">
                    <i class="fa-solid fa-folder"></i>
                    <a href="#">PROYECTOS ACTIVOS</a>
                    <span class="submenu-indicator">&#9656;</span>
         <ul class="submenu" id="data-list">
                        <!-- Lista de proyectos activos -->
                    </ul>
                    <div class="pagination" id="pagination-activos">
                        <button id="prev-activos">Anterior</button>
                        <button id="next-activos">Siguiente</button>
                    </div>
                </li>
                <li class="sidebar-link">
                    <i class="fa-solid fa-folder"></i>
                    <a href="#">PROYECTOS INACTIVOS</a>
                    <span class="submenu-indicator">&#9656;</span>
                    <ul class="submenu" id="data_list_inactive">
                      
                    </ul>

                    <div class="pagination" id="pagination-inactivos">
                        <button id="prev-inactivos">Anterior</button>
                        <button id="next-inactivos">Siguiente</button>
                    </div>
                </li>
            </ul>
            
        </div>

        <div class="main">
            <div class="main-title">
                <h2>Data Table</h2>
                <button class="generar-reporte-btn" onclick="ExportToExcel('xlsx')">Generar Reporte</button>
            </div>
            <div class="reporte">
                <div class="table-container">
                    <table id="myTable">
                            <thead>
                                <tr>
                                    <th>SP_Item2ID</th>
                                    <th>GraphicOID</th>
                                    <th>Item1Location</th>
                                    <th>Item2Location</th>
                                    <th>IsBinary</th>
                                    <th>SP_Item1ID</th>
                                    <th>SP_InconsistencyID</th>
                                    <th>Description</th>
                                    <th>Name</th>
                                    <th>InconsistencyType</th>
                                    <th>IsApproved</th>
                                    <th>InconsistencyStatus</th>
                                    <th>Severity</th>
                                    <th>PropNameItem1</th>
                                    <th>PropNameItem2</th>
                                    <th>SP_RelationshipID</th>
                                    <th>SP_RepresentationID</th>
                                    <th>RepresentationType</th>
                                    <th>GraphicOID_Representation</th>
                                    <th>InStockpile</th>
                                    <th>FileName</th>
                                    <th>Style</th>
                                    <th>SP_ModelItemID</th>
                                    <th>RADLayer</th>
                                    <th>ExportLayer</th>
                                    <th>ItemStatus</th>
                                    <th>RepresentationClass</th>
                                    <th>SP_FileLastModifiedTime</th>
                                    <th>SP_ModelItemTimestamp</th>
                                    <th>SP_DrawingID</th>
                                    <th>UpdateCount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>020708AB5A5040A4B902CE02F489AEDD</td>
                                    <td>34333</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>29F0D78CE34E4682A05661FF1156210A</td>
                                    <td>97F62942663D43ABAF4FF084881E90EC</td>
                                    <td>ConstructionStatus=ConstructionStatus</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>ConstructionStatus</td>
                                    <td>ConstructionStatus</td>
                                    <td>F718D10FC70845A780FDD6FAAB9250E9</td>
                                    <td>020708AB5A5040A4B902CE02F489AEDD</td>
                                    <td>13</td>
                                    <td>3771</td>
                                    <td>1</td>
                                    <td>\Piping\Fittings\Flanges and Unions\Flange.sym</td>
                                    <td></td>
                                    <td>D459C500B7A447BE9B1E1A8CCE9DB59C</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td>2021-01-11 18:34:50.000</td>
                                    <td>2022-05-23 10:05:22.000</td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>33775</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>E1D863D8065547FF809C5B2ADE3CB433</td>
                                    <td>20B615B1E14348968D2F2AE976B40D1E</td>
                                    <td>ConstructionStatus=ConstructionStatus</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>ConstructionStatus</td>
                                    <td>ConstructionStatus</td>
                                    <td>9998C20F02714F008C798BEDC711F125</td>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>9</td>
                                    <td>5381</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>34F84F7E43284BFD85B2FAA1A6ABA601</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>9</td>
                                    <td></td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>33737</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>599AC982A78D4B48BED42AE9E48E428D</td>
                                    <td>95203EF9D72D430E8662A3D40F7FEFD2</td>
                                    <td>PipingPoint1.EndConstructionStatus=ConstructionStatus</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>PipingPoint1.EndConstructionStatus</td>
                                    <td>ConstructionStatus</td>
                                    <td>9085C1A3B534470B8ABA6F8D7B3E3C73</td>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>9</td>
                                    <td>5381</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>34F84F7E43284BFD85B2FAA1A6ABA601</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>9</td>
                                    <td></td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>33737</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>599AC982A78D4B48BED42AE9E48E428D</td>
                                    <td>74B044F773944EEF96D6E3789C57F433</td>
                                    <td>ConstructionStatus=ConstructionStatus</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>ConstructionStatus</td>
                                    <td>ConstructionStatus</td>
                                    <td>9085C1A3B534470B8ABA6F8D7B3E3C73</td>
                                    <td>027B7F5022DF4DE7A7F7C82504C443B5</td>
                                    <td>9</td>
                                    <td>5381</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>34F84F7E43284BFD85B2FAA1A6ABA601</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>9</td>
                                    <td></td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>043677E8269545F0B08B21BCD79AE91D</td>
                                    <td>42293</td>
                                    <td>1</td>
                                    <td>-1</td>
                                    <td>2</td>
                                    <td>CDC310AC218A4EC386513FD9A07518DB</td>
                                    <td>425E46F8436A421289702A2801FB56B7</td>
                                    <td>Tag Seq No(012) Is Not = Tag Seq No(014)</td>
                                    <td>TagSequenceNo=TagSequenceNo</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>TagSequenceNo</td>
                                    <td>TagSequenceNo</td>
                                    <td>5A4F030E6E224B7B8F76C4869B58809E</td>
                                    <td>043677E8269545F0B08B21BCD79AE91D</td>
                                    <td>46</td>
                                    <td>36619</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>77D718B3559A417C9CA02A1D8D80C502</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td></td>
                                    <td>574ABD80274247E0A4643667AECEFF37</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>051BDBD185FD4170AB443FF5FB29F673</td>
                                    <td>42880</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>F7A56967F38B4D1B9BA3492F3CF65F17</td>
                                    <td>3833A78633234267801B2750F3430A00</td>
                                    <td>Cannot evaluate consistency</td>
                                    <td></td>
                                    <td>6</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td>B316312E9C70456395DBB91638A3CD03</td>
                                    <td>051BDBD185FD4170AB443FF5FB29F673</td>
                                    <td>39</td>
                                    <td>34919</td>
                                    <td>1</td>
                                    <td>\Piping\Piping OPC's\CEN_Off-Drawing.sym</td>
                                    <td></td>
                                    <td>320985116B4B4FA6B7F46819E676F5E1</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td>2021-12-24 15:03:12.000</td>
                                    <td>2022-05-20 12:56:21.000</td>
                                    <td>74DD79F885D2486DA9B030B5069C6E2F</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>060D937A81584D5DB00676CD53C05374</td>
                                    <td>40970</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>90F174D5FB634B93B1269A2AD27B39FC</td>
                                    <td>D2FF5C80B6194C67A85CBD21A3FFFD74</td>
                                    <td>PipingMaterialsClass=PipingMaterialsClass</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>6</td>
                                    <td>PipingMaterialsClass</td>
                                    <td>&lt;Parent&gt;PipingMaterialsClass</td>
                                    <td>CBB2F5A56CE54610BC22D3B336BEA294</td>
                                    <td>060D937A81584D5DB00676CD53C05374</td>
                                    <td>13</td>
                                    <td>6747</td>
                                    <td>1</td>
                                    <td>\Piping\Fittings\Flanges and Unions\Flange.sym</td>
                                    <td></td>
                                    <td>2E924C3D3D3346EB91DAFF67CF6791DA</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td>2021-01-11 18:34:50.000</td>
                                    <td>2022-05-19 16:46:49.000</td>
                                    <td>E467A6EFA40942C981F374874D11937E</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>06B0A90C67064475A3D338A108CDEC4F</td>
                                    <td>33771</td>
                                    <td>4</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>282BA3A006C84B9A9FE0DFD697CB1443</td>
                                    <td>334D782B137D4D3284287AB7443A0B16</td>
                                    <td>ConstructionStatus=ConstructionStatus</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>ConstructionStatus</td>
                                    <td>ConstructionStatus</td>
                                    <td>9904592376C6476285A94169FF232814</td>
                                    <td>06B0A90C67064475A3D338A108CDEC4F</td>
                                    <td>9</td>
                                    <td>5397</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>18768EB292D64FEA873749A529AB7FC1</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>9</td>
                                    <td></td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>07CA8A9DD3244BACB67E41DFA6E7C902</td>
                                    <td>41190</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>FAB13A3BCB7447F2922BE61D81F647CF</td>
                                    <td>62F7277734E0456FB17FED26052E9656</td>

                                    <td>PipingMaterialsClass=PipingMaterialsClass</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>6</td>
                                    <td>PipingMaterialsClass</td>
                                    <td>&lt;Parent&gt;PipingMaterialsClass</td>
                                    <td>E7C43C2D2EC3478D98BF1C876528D432</td>
                                    <td>07CA8A9DD3244BACB67E41DFA6E7C902</td>
                                    <td>13</td>
                                    <td>7665</td>
                                    <td>1</td>
                                    <td>\Piping\Fittings\Flanges and Unions\Flange.sym</td>
                                    <td></td>
                                    <td>8D7A111C331C47E58421FC25311C393A</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td>2021-01-11 18:34:50.000</td>
                                    <td>2022-05-19 13:30:04.000</td>
                                    <td>E467A6EFA40942C981F374874D11937E</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>07FB42DB41304AB9B58236C76791448B</td>
                                    <td>6699</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>BF83CD8A395E406B8E39D555915F1579</td>
                                    <td>391182BA4BE74206AE195BCAE9107C06</td>
                                    <td>Cannot evaluate consistency</td>
                                    <td></td>
                                    <td>6</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td>30A26A550AA146B7888A56DE75957EBB</td>
                                    <td>07FB42DB41304AB9B58236C76791448B</td>
                                    <td>9</td>
                                    <td>4883</td>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td>7FDF2D5EFD6F42A196BF14C2C1E3D182</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>9</td>
                                    <td></td>
                                    <td>C6334D70F77C421C8EA76E965DF199B5</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>08AD6D653C9E4503B651E6A8B34D8AEA</td>
                                    <td>33157</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>E98C606C2FB44097BA83AC7F107F0FB5</td>
                                    <td>E17FE1B6BF5A4111B3E707EF202D182A</td>
                                    <td>Cannot evaluate consistency</td>
                                    <td></td>
                                    <td>6</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td></td>
                                    <td></td>
                                    <td>2D1B779670174D278AC137003282DEEE</td>
                                    <td>08AD6D653C9E4503B651E6A8B34D8AEA</td>
                                    <td>39</td>
                                    <td>4116</td>
                                    <td>1</td>
                                    <td>\Piping\Piping OPC's\CEN_Off-Drawing.sym</td>
                                    <td></td>
                                    <td>AF9076D74DF6422FBF4E09DE41D8E4BE</td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td>13</td>
                                    <td>2021-12-24 15:03:12.000</td>
                                    <td>2022-05-20 13:12:04.000</td>
                                    <td>6748E836498D4AF4B193197B89A63490</td>
                                    <td>11</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <button id="prevPage" onclick="prevPage()">Anterior</button>
                    <span id="pageNumber"></span>
                    <button id="nextPage" onclick="nextPage()">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/main.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/fech.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/paginacion.js') }}"></script>
</body>

</html>