<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLink Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">SmartLink <span class="span-logo">Analytics</span></div>
            <div class="profile">
                <a href="/register" class="Sign-Up">Sign-Up</a>                                              
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container_logo">
            <div class="logo">SmartLink <br> <span class="span-logo">Analytics</span></div>
        </div>
        <form action="/" method="post" class="container_form">
            <div class="container_form_title">Login</div>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Contraseña" name="password" required>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <p class="error-message">
                {{ message }}
            </p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="container_form_btn">
                <P>Forgot Password?</P>
                <button type="submit" class="get-into"> Sign In <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </form>
    </div>



</body>

</html>