{% extends 'base.html' %}

{% block title %}Menu - SmartLink Analytics{% endblock %}

{% block content %}

        <div class="main">
            <div class="contenedor">
                <a href="/spid">
                    <div class="card card-1">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/a-realistic-image-of-an-industrial-pipe-_LGadMwOYRDuPqHDPNdmMIw_U_ScLNSTR4yWjdQ-mgWe4Q.jpeg')}}" alt="VMW">
                        </div>
                        <div class="card-body card-color">
                            <h2 class="card-title">P&ID</h2>
                        </div>
                    </div>
                </a>
                <a href="/sel">
                    <div class="card card-color-2">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/Instrumentacion-y-control.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Eléctrica</h2>
                        </div>
                    </div>
                </a>
                <a href="/spi">
                    <div class="card card-color-3">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/Instrumentacion_nuevo.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Instrumentación</h2>
                        </div>
                    </div>
                </a>
                <a href="/s3d">
                    <div class="card card-4">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/3D.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Vista M 3D</h2>
                        </div>
                    </div>
                </a>


                <a href="/firmas">
                    <div class="card card-4">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/firma.jpeg')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Revisión de Firmas</h2>
                        </div>
                    </div>
                </a>
            </div>
            </div>

{% endblock %}