{% extends 'base.html' %}

{% block title %}Menu - SmartLink Analytics{% endblock %}

{% block content %}

        <div class="main">
            <div class="contenedor">
                <a href="/spid">
                    <div class="card card-1">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/smartPID.png')}}" alt="VMW">
                        </div>
                        <div class="card-body card-color">
                            <h2 class="card-title">Smart PID</h2>
                        </div>
                    </div>
                </a>
                <a href="/sel">
                    <div class="card card-color-2">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/electrica.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Smart Electrical</h2>
                        </div>
                    </div>
                </a>
                <a href="/spi">
                    <div class="card card-color-3">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/imagen.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Smart Instrumentation</h2>
                        </div>
                    </div>
                </a>
                <a href="/s3d">
                    <div class="card card-4">
                        <div class="card-header-2">
                            <img src="{{ url_for('static', filename='image/Smar3D.png')}}" alt="VMW">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Smart 3D</h2>
                        </div>
                    </div>
                </a>
            </div>
            </div>

{% endblock %}