<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartLink Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">SmartLink <span class="span-logo">Analytics</span></div>
            <div class="profile">
                <a href="/" class="Sign-Up">Sign-In</a>
            </div>
        </div>
    </header>
    <div class="container">
        <form class="container_form" action="/register" method="post">
            <div class="container_form_title">Register</div>
            <input type="text" placeholder="Nombre" name="first_name" required>
            <input type="text" placeholder="Apellido" name="last_name" required>
            <input type="email" placeholder="Correo" name="email" required>
            <input type="password" placeholder="Contraseña" name="password" required>
            <input type="password" placeholder="Confirmar Contraseña" name="confirm_password" required>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <p class="error-message">
                {{ message }}
            </p>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="container_form_btn">
                <button type="submit" class="get-into"> Sign Up <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </form>
        <div class="container_logo">
            <div class="logo">SmartLink <br> <span class="span-logo">Analytics</span></div>
        </div>
    </div>


</body>

</html>
