{% extends 'base.html' %}

{% block title %}SPI - SmartLink Analytics{% endblock %}

{% block content %}


<div class="container" id="container">
    <h2>Cargar Planimetrías.</h2>
    <p class="sub_title">Solo archivos .jpeg, jpg y .png</p>
    <div id="image-gallery" class="image-gallery">
        <p class="sub_title_2" id="file-select">Arrastra para subir</p>
        <p class="sub_title">Suelta en esta área tu contenido para que se pueda subir</p>
        <i class="fa-solid fa-download"></i>
        <input type="file" id="file-input" multiple>
    </div>
</div>

<div class="gallery none" id="gallery-container">
    <div class="large-image" id="gallery">
        <!-- aquí van las imágenes seleccionadas  -->
        <div class="floating-btn-container">
            <button class="floating-btn" id="add-more-images-btn">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="thumbnails-container">
        <div class="thumbnails" id="thumbnails">
            <div class="header-seidebar">
                <div class="header-title">
                    <h2>Cargar planimetrías</h2>
                </div>
                <div class="header-alert">
                    <p>Para seleccionar más planimetrías se debe hacer click en "+" para cargar archivos adicionales. Los archivos permitidos .jpeg, jpg y .png</p>
                </div>
            </div>
            <button id="send-button">Enviar plano</button>
        </div>
    </div>
</div>

<div class="gallery_response none" id="gallery-response-container">
    <div class="gallery_response_image" id="large-image_response">
        <img src="https://via.placeholder.com/800x600" alt="Smart Instrumantation" id="main-image_response">
        <div class="floating-btn-container">
            <button class="floating-btn" id="download-current-image-btn">
                <i class="fa-solid fa-download"></i>
            </button>
            <button class="floating-btn" id="download_button">
                <span class="material-symbols-outlined">
                    folder_zip
                    </span>
            </button>
        </div>
    </div>
    <div class="thumbnails-container_response">
        <div class="thumbnails_response" id="thumbnails_response">
            <!-- Las miniaturas se añadirán aquí -->
        </div>
        <button id="download-pdf-button">Descargar Reporte</button>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='js/spi/spi.js') }}"></script>
{% endblock %}